apiVersion: apps/v1
kind: Deployment
metadata:
  name: benchmark-evaluator
spec:
  template:
    spec:
      containers:
        - name: benchmark-evaluator
          env:
            # Vector DB configuration (Weaviate) - prod environment
            - name: WEAVIATE_HOST
              value: "prod-weaviate.sage.svc.cluster.local"
            # Inference server configuration (Triton) - prod environment
            - name: TRITON_HOST
              value: "prod-triton.sage.svc.cluster.local"

