apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: sage

# TODO: Replace MYBENCHMARK with your benchmark name (lowercase)
namePrefix: MYBENCHMARK-
commonLabels:
  benchmark: MYBENCHMARK

resources:
  - ../../base

patches:
  - path: env.yaml
    target:
      kind: Job
      labelSelector: "app=benchmark-job"

images:
  # TODO: Replace MYBENCHMARK with your benchmark name and update registry if needed
  - name: PLACEHOLDER_BENCHMARK_JOB_IMAGE
    newName: gitlab-registry.nrp-nautilus.io/ndp/sage/nrp-image-search/benchmark-MYBENCHMARK-job
    newTag: latest
