apiVersion: apps/v1
kind: Deployment
metadata:
  name: benchmark-evaluator
spec:
  template:
    spec:
      volumes:
        - name: results
          persistentVolumeClaim:
            claimName: inquire-weav-results-pvc

