apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: results-pvc
spec:
  storageClassName: rook-ceph-block-central
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi

